# cron を起動する際は、php コンテナに入って以下を実行
# cron 起動
# service cron start
# 動作確認
# ps aux | grep cron
# cat /var/log/cron.log

# 動作確認用
* * * * * root echo "cron is working!" >> /var/log/cron.log

# 毎分、入庫情報をDBに反映
* * * * * root . /etc/.env && /scripts/stock_in_import.sh >> /var/log/cron.log 2>&1

# 毎分、出庫情報をDBに反映
* * * * * root sleep 5 && . /etc/.env && /scripts/stock_out_update.sh >> /var/log/cron.log 2>&1

# 毎分、在庫状況をCSVファイルに出力
* * * * * root sleep 10 && . /etc/.env && /scripts/stock_report.sh >> /var/log/cron.log 2>&1

